*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: #e0e3eb; */
	background-image: url('https://cdn.wallpapersafari.com/22/22/9XYfN3.jpg');
}

.container{
	position: relative;
	max-width: 300px;
	width: 100%;
	border-radius: 12px;
	padding: 10px 20px 20px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}



.display{
	height: 70px;
	width: 100%;
	outline: none;
	border: none;
	text-align: right;
	margin: 10px;
	font-size: 25px;
	color: #000e1a;
	pointer-events: none;
}

.buttons{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	
}

.buttons button{
	padding: 10px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	font-size: 17px;
	background: #eee;
	transition: 0;
}

.buttons button:active{
	transform: scale(0.75);
	background: #565e5e;
}

button:hover{
	transition: 0s;
	background: rgba(255, 255, 255, 0.05);
	
}
